# Ignore all environment variable files
.env
*.env

# Python cache and logs
__pycache__/
*.py[cod]
*.log

# Model and scaler files
*.h5
*.pkl
models/

# Jupyter and VS Code
.ipynb_checkpoints/
.vscode/

# OS and IDE files
.DS_Store
Thumbs.db
